/* test styles - can be deleted later */

.red {
	background: red;
	opacity: 0.5;
}

.gold {
	background: gold;
	opacity: 0.5;
}


/* Colors */

.color-orange {  color: rgba(254, 102, 2,   1); }
.color-white  {  color: rgba(255, 255, 255, 1); }

.background-orange {  background: rgba(254, 102, 2,   1); }
.background-white  {  background: rgba(255, 255, 255, 1); }

/* general styles */

body {
 -webkit-font-smoothing: antialiased;
 font-family: 'Karla', Verdana, sans-serif;
 font-weight: 400;
 font-size: 18px;
}

a {
 text-decoration: none; 
 color: inherit;
}

a:hover {
 text-decoration: none;
 opacity: 0.5;
 color: inherit;
}

a:visited {
 text-decoration: none; 
 color: inherit;
}


h1, h2, h3 {
 font-weight: 700;
}

h2 {
 font-size: 1.417em;
 margin: 0 auto;
 padding: 0;
 width:80%;
 max-width: 28em;
 text-align: center;
 text-transform: capitalize;
}

input {
 clear:both;
 display:block;
 margin: 3.2em auto;
 width: 80%;

 background:none;
 border: none;
 border-bottom: solid rgba(254, 102, 2,   1) 3px;
 outline: none;

 font-size:1.4em;
 text-align: center;
 color: rgba(254, 102, 2,   1); 
 line-height: 29px;
}


input:focus::-webkit-input-placeholder 
{
 color: transparent;
}

input:active {
 outline: none;
}

::-webkit-input-placeholder {
 color: rgba(254, 102, 2,   1);
}
:-moz-placeholder { /* Firefox 18- */
 color: rgba(254, 102, 2,   1); 
}
::-moz-placeholder {  /* Firefox 19+ */
 color: rgba(254, 102, 2,   1);  
}
:-ms-input-placeholder {  
 color: rgba(254, 102, 2,   1);  
}


/* Placement parameters */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}


/* Container styles */

.main {
 background: rgba(254, 102, 2,    1); /* orange */
 color:      rgba(255, 255, 255,  1);
}

.main a {
 color:      rgba(255, 255, 255,  1); /* orange */
}

.sidebar {
 background: rgba(255, 255, 255,  1);
 color:      rgba(254, 102, 2,    1); /* orange */
 padding-top: 5.2em;
}

.sidebar h2 {
 text-transform: uppercase;
 font-size: 1em;
 text-align: left;
}

.navbar-container {
  width: 80%;
  margin: 2em auto;
  font-size: 0.8em;
}

.navbar-toggle {
 height: 5.2em;
 padding-top: 0.4em;
}


.sub-header {
 border-bottom: none;
 padding:0;
}

.event {
 margin: 3.4em auto;
}

.event-details {
 font-size: 1em;
 width:100%;
 text-align: center;
 clear:both;
 margin: 0 0 1em 0;
}

.event-venue-name {
 width:100%;
 text-align: center;
 font-size: 1em;
/* font-family: 'Gentium Book Basic', Georgia, serif;*/
 clear:both;
 margin: 1em 0 0 0;
}

.fb_iframe_widget iframe {
 opacity: 0.1;
}

.fb_iframe_widget iframe:hover {
 opacity: 1;
}

.week-box {
 width: 100%;
 margin: 4em 0 4em 0;
 text-align: center;
}

.week {
 display:inline-block;
 width: 440px;
 height: 90px;
 margin: 0 auto;
 padding:0;
 text-align: center;
}

.week-button {
 display:inline-block;
}

.week-item {
/* font-family: 'Gentium Book Basic', Georgia, serif;*/
 width: 48px;
 height: 56px;
 display:inline-block;

 margin-top: 20px;
 text-align: center;
 font-size: 24px;
 font-weight: bold;
}

.week-day {
/* font-family: 'Open Sans', sans-serif;*/
 display: block;
 font-size: 12px;
 font-weight: normal;
 margin-top: 6px;
}

.week-letter {
 display: none;
}


/* boostrap-slider */
#ex1Slider .slider-selection {
 background: #BABABA;
}


@media (max-width: 991px) {

 #events {
  margin-top:  5.2em;
  padding-top: 1.3em;
 }

 .sidebar {
  padding-top:  5.2em;
 }

.navbar-container {
  margin: 0.6em auto;
}

 .buttons {
  background: white;
  height: 5.2em;
 }

 .overlay {
  position: absolute;
  width: 100%;
  top:  5.2em;
  background: white;
 }


}


/* Preloader */

@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-o-keyframes spin {
  from { -o-transform: rotate(0deg); }
    to { -o-transform: rotate(360deg); }
}
@keyframes spin {
  from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}

.spin {
  -webkit-animation: spin 2s both linear infinite;
  -moz-animation: spin 2s both linear infinite;
  -o-animation: spin 2s both linear infinite;
  animation: spin 2s both linear infinite;
}

